/* Css reset */
*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

li {
  list-style: none;
}

html:focus-within {
  scroll-behavior: smooth;
}

body {
  min-height: 100vh;
  text-rendering: optimizeSpeed;
}

a:not([class]) {
  text-decoration-skip-ink: auto;
}

img,
picture {
  max-width: 100%;
  display: block;
}

input,
button,
textarea,
select {
  font: inherit;
}

@media (prefers-reduced-motion: reduce) {
  html:focus-within {
    scroll-behavior: auto;
  }

  *,
  *::before,
  *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}

.screen-reader {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  white-space: nowrap;
  width: 1px;
}

/* Css Variables */

:root {
  --Gradient: hsl(249, 99%, 64%) to hsl(278, 94%, 30%);
  --Red: hsl(0, 100%, 66%);

  --White: hsl(0, 0%, 100%);
  --Light-grayish-violet: hsl(270, 3%, 87%);
  --Dark-grayish-violet: hsl(279, 6%, 55%);
  --Very-dark-violet: hsl(278, 68%, 11%);
}

body {
  font-family: "Space Grotesk", sans-serif;
  font-weight: 500;
}

/* Styling the annoying part */
.container__cards {
  background: url("images/bg-main-mobile.png");
  background-size: cover;
}

.back-card {
  position: relative;

}
.back-card__image {
  padding-top: 2rem;
  margin: 0 auto;
  width: min(17.875rem,90vw);
}

.cvc {
  position: absolute;
  top: 54%;
  left: 50%;
  padding-left: 5rem;
  color: var(--White);
  font-size: 0.5625rem;
  font-weight: 500;
  letter-spacing: 0.08038rem;
}

.front-card{
  position: relative;

}

.front-card__image{
  position: absolute;
  right: 50%;
  margin-right: -70px;
  margin-top: -68px;
  width: min(17.875rem,90vw);
}